<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.joelimyx.flipvicefeed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_vooz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".main.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".detailview.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".notifications.AlarmSettingsActivity"/>

        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joelimyx.flipvicefeed.main.main.MainActivity"/>

        </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  tools:replace="android:theme"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>
        <receiver
            android:name=".main.network.NetworkStateReceiver">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

        </receiver>

        <service android:name=".notifications.NotificationService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:name=".notifications.AlarmReceiver"
            android:process=":remote"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider226865891058843"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"/>

    </application>

</manifest>